Services/Connected Services/FacturaFuse/EnviarFacturaDian_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.terpel.com/integraciones/schemas/enviarFacturaDian/v1.0" elementFormDefault="qualified" targetNamespace="http://www.terpel.com/integraciones/schemas/enviarFacturaDian/v1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EnviarFacturaDian">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="clave" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Entorno" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Factura" type="tns:Invoice" />
        <xs:element minOccurs="0" maxOccurs="1" name="mensaje" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Invoice">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ClsDatosComun">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="CreditNoteDocumentReference" type="tns:ArrayOfDocumentReferenceType" />
          <xs:element minOccurs="0" maxOccurs="1" name="DebitNoteDocumentReference" type="tns:ArrayOfDocumentReferenceType" />
          <xs:element minOccurs="1" maxOccurs="1" name="InvoiceTypeCode" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="InvoiceLines" type="tns:ArrayOfLineType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ClsDatosComun">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ClsDatosComun2">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="RangosFacturacion" nillable="true" type="tns:Rangos" />
          <xs:element minOccurs="1" maxOccurs="1" name="CustomizationID" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="IssueDateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="DueDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="DocumentCurrencyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="OrderReference_ID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="OrderReference_IssueDateTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="DespatchDocumentReference" type="tns:ArrayOfDocumentReferenceType" />
          <xs:element minOccurs="0" maxOccurs="1" name="ReceiptDocumentReference" type="tns:ArrayOfDocumentReferenceType" />
          <xs:element minOccurs="0" maxOccurs="1" name="AdditionalDocumentReference" type="tns:ArrayOfAdditionalDocumentReferenceType" />
          <xs:element minOccurs="1" maxOccurs="1" name="Supplier" nillable="true" type="tns:SupplierType" />
          <xs:element minOccurs="1" maxOccurs="1" name="Customer" nillable="true" type="tns:CustomerType" />
          <xs:element minOccurs="0" maxOccurs="1" name="InvoicePeriods" type="tns:InvoicePeriodsType" />
          <xs:element minOccurs="0" maxOccurs="1" name="TaxRepresentativeParty" type="tns:TaxRepresentativePartyType" />
          <xs:element minOccurs="0" maxOccurs="1" name="AllowanceCharges" type="tns:ArrayOfAllowanceChargeType" />
          <xs:element minOccurs="0" maxOccurs="1" name="TaxTotals" type="tns:ArrayOfTaxType" />
          <xs:element minOccurs="0" maxOccurs="1" name="WithholdingTaxTotal" type="tns:ArrayOfTaxType" />
          <xs:element minOccurs="0" maxOccurs="1" name="Notes" type="tns:ArrayOfString" />
          <xs:element minOccurs="1" maxOccurs="1" name="LegalMonetaryTotals" nillable="true" type="tns:LegalMonetaryTotalType" />
          <xs:element minOccurs="0" maxOccurs="1" name="Delivery" type="tns:DeliveryType" />
          <xs:element minOccurs="0" maxOccurs="1" name="DeliveryTerms" type="tns:DeliveryTermsType" />
          <xs:element minOccurs="0" maxOccurs="1" name="PaymentMeans" type="tns:PaymentMeanType" />
          <xs:element minOccurs="0" maxOccurs="1" name="PaymentMeans_N" type="tns:ArrayOfPaymentMeanType" />
          <xs:element minOccurs="0" maxOccurs="1" name="PaymentExchangeRate" type="tns:PaymentExchangeRateType" />
          <xs:element minOccurs="0" maxOccurs="1" name="PaymentAlternativeExchangeRate" type="tns:ArrayOfPaymentExchangeRateType" />
          <xs:element minOccurs="0" maxOccurs="1" name="PrepaidPayment" type="tns:ArrayOfPrepaidPaymentType" />
          <xs:element minOccurs="0" maxOccurs="1" name="Adjunto" type="tns:ArrayOfArchivo" />
          <xs:element minOccurs="0" maxOccurs="1" name="InformacionAdicional" type="tns:ArrayOfInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="CustomTagGeneral" type="tns:ArrayOfInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ClsDatosComun2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioTransaccionERP" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoTransaccionERP" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="SecuencialERP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EmailResponsable" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EmailCliente" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo2" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo3" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo4" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo5" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo6" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo7" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo8" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo9" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo10" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DatosFacturadorManual" type="tns:DatosFacturadorManual" />
      <xs:element minOccurs="0" maxOccurs="1" name="DirectorioDocumento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NombreDocumento" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="NombreIntegracion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatosFacturadorManual">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="FacturadorManual" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="Identificador" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Rangos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Prefijo" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ValorRangoDesde" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="ValorRangoHasta" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfDocumentReferenceType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentReferenceType" nillable="true" type="tns:DocumentReferenceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentReferenceType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UUID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="IssueDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfAdditionalDocumentReferenceType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalDocumentReferenceType" nillable="true" type="tns:AdditionalDocumentReferenceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdditionalDocumentReferenceType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UUID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="IssueDate" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="DocumentTypeCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SupplierType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PartyType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="IndustryClasificationCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Contact" type="tns:ContactType" />
          <xs:element minOccurs="0" maxOccurs="1" name="ContactDespatch" type="tns:ContactType" />
          <xs:element minOccurs="0" maxOccurs="1" name="ContactAccounting" type="tns:ContactType" />
          <xs:element minOccurs="0" maxOccurs="1" name="ContactSeller" type="tns:ContactType" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShareholderParty" type="tns:ArrayOfShareholderPartyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartyType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CompanyType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="TaxScheme" type="tns:ArrayOfSchemeType" />
          <xs:element minOccurs="0" maxOccurs="1" name="CorporateRegistrationScheme_Name" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CompanyType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IdentificationType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="AdditionalAccountID" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="RegistrationName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="PhysicalLocation" type="tns:AddressType" />
          <xs:element minOccurs="0" maxOccurs="1" name="RegistrationAddress" type="tns:AddressType" />
          <xs:element minOccurs="1" maxOccurs="1" name="TaxLevelCode" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="TaxLevelCodeObligations" type="tns:ArrayOfString" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IdentificationType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Identification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="IdentificationDV" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdentificationType1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxRepresentativePartyType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IdentificationType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="RegistrationName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="CityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PostalZone" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="CountrySubentity" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="CountrySubentityCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Line" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Country" nillable="true" type="tns:CountryType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CountryType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="CodeAlfa2" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeliveryPartyType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CompanyType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="CorporateRegistrationScheme_Name" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Contact" type="tns:ContactType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContactType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Telephone" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Telefax" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ElectronicMail" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Note" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfSchemeType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SchemeType" nillable="true" type="tns:SchemeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SchemeType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomerType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PartyType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Contact" type="tns:ContactType" />
          <xs:element minOccurs="0" maxOccurs="1" name="ContactDelivery" type="tns:ContactType" />
          <xs:element minOccurs="0" maxOccurs="1" name="ContactAccounting" type="tns:ContactType" />
          <xs:element minOccurs="0" maxOccurs="1" name="ContactBuyer" type="tns:ContactType" />
          <xs:element minOccurs="0" maxOccurs="1" name="Person" type="tns:PersonType" />
          <xs:element minOccurs="0" maxOccurs="1" name="PartyLegalEntity" type="tns:ArrayOfPartyLegalEntityType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FirstName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FamilyName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MiddleName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ResidenceAddress" type="tns:AddressType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfPartyLegalEntityType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PartyLegalEntityType" nillable="true" type="tns:PartyLegalEntityType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyLegalEntityType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Identification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="IdentificationDV" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdentificationType" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="RegistrationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CorporateRegistrationScheme_Name" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="PartecipationPercent" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfShareholderPartyType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShareholderPartyType" nillable="true" type="tns:ShareholderPartyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ShareholderPartyType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Identification" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdentificationDV" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="RegistrationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="TaxLevelCode" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="TaxLevelCodeObligations" type="tns:ArrayOfString" />
      <xs:element minOccurs="1" maxOccurs="1" name="TaxScheme" nillable="true" type="tns:SchemeType" />
      <xs:element minOccurs="1" maxOccurs="1" name="PartecipationPercent" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InvoicePeriodsType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="EndDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfAllowanceChargeType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AllowanceChargeType" nillable="true" type="tns:AllowanceChargeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AllowanceChargeType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ChargeIndicator" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="AllowanceChargeReasonCode" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="AllowanceChargeReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="MultiplierFactorNumeric" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="BaseAmount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfTaxType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaxType" nillable="true" type="tns:TaxType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="TaxableAmount" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="TaxAmount" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="Percent" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="BaseUnitMeasure" type="tns:BaseUnitMeasureType" />
      <xs:element minOccurs="1" maxOccurs="1" name="TaxScheme" nillable="true" type="tns:SchemeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BaseUnitMeasureType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Value" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="PerUnitAmount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LegalMonetaryTotalType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="LineExtensionAmount" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="TaxExclusiveAmount" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="TaxInclusiveAmount" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="AllowanceTotalAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="ChargeTotalAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="PrepaidAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="PayableRoundingAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="PayableAmount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeliveryType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ActualDeliveryDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="DeliveryAddress" type="tns:AddressType" />
      <xs:element minOccurs="0" maxOccurs="1" name="DeliveryParty" type="tns:DeliveryPartyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeliveryTermsType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="SpecialTerms" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LossRiskResponsibilityCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LossRisk" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentMeanType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="PaymentMeansCode" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="PaymentDueDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="PaymentID" type="tns:ArrayOfString" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfPaymentMeanType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PaymentMeanType" nillable="true" type="tns:PaymentMeanType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentExchangeRateType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="SourceCurrencyBaseRate" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="TargetCurrencyCode" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="TargetCurrencyBaseRate" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="CalculationRate" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Date" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfPaymentExchangeRateType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PaymentExchangeRateType" nillable="true" type="tns:PaymentExchangeRateType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfPrepaidPaymentType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PrepaidPaymentType" nillable="true" type="tns:PrepaidPaymentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PrepaidPaymentType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ID" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="PaidAmount" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="ReceivedDate" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="PaidDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="InstructionID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfArchivo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Archivo" nillable="true" type="tns:Archivo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Archivo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Archivo" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Info" nillable="true" type="tns:Info" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Info">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Codigo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Valor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfLineType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LineType" nillable="true" type="tns:LineType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LineType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Note" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Quantity" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="LineExtensionAmount" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="PricingReference" type="tns:PricingReferenceType" />
      <xs:element minOccurs="1" maxOccurs="1" name="PriceAmount" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="BaseQuantity" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="UnitCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AllowanceCharge" type="tns:ArrayOfAllowanceChargeType" />
      <xs:element minOccurs="0" maxOccurs="1" name="TaxTotal" type="tns:ArrayOfTaxType" />
      <xs:element minOccurs="0" maxOccurs="1" name="WithholdingTaxTotal" type="tns:ArrayOfTaxType" />
      <xs:element minOccurs="1" maxOccurs="1" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PackSizeNumeric" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="BrandName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ModelName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="SellersItemIdentification" nillable="true" type="tns:ItemIdentificationType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StandardItemIdentification" nillable="true" type="tns:StandardItemIdentificationType" />
      <xs:element minOccurs="0" maxOccurs="1" name="AdditionalInfos" type="tns:ArrayOfAdditionalInfoType" />
      <xs:element minOccurs="0" maxOccurs="1" name="SaleMandatary" type="tns:IdentificationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PricingReferenceType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Amount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemIdentificationType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ProductCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SubProductCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StandardItemIdentificationType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Code" type="tns:Producto" />
      <xs:element minOccurs="1" maxOccurs="1" name="ProductCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Producto">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNSPSC" />
      <xs:enumeration value="GTIN" />
      <xs:enumeration value="PartidaArancelaria" />
      <xs:enumeration value="EstandarContribuyente" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfAdditionalInfoType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalInfoType" nillable="true" type="tns:AdditionalInfoType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdditionalInfoType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnviarFacturaDianResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="EnviarFacturaDianResult" type="tns:RespuestaEDOC" />
        <xs:element minOccurs="0" maxOccurs="1" name="mensaje" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RespuestaEDOC">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="NumDocumento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UUID" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaAutorizacion" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoError" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MensajeRespuesta" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="lMensajeRespuesta" type="tns:ArrayOfIMensajeRespuesta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfIMensajeRespuesta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="iMensajeRespuesta" nillable="true" type="tns:iMensajeRespuesta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="iMensajeRespuesta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Codigo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Mensaje" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>