Services/Connected Services/FacturaFuse/HeaderResponse_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://www.terpel.com/integraciones/comunes/schemas/headerResponse/v1.0" elementFormDefault="qualified" targetNamespace="http://www.terpel.com/integraciones/comunes/schemas/headerResponse/v1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="headerResponse" type="tns:HeaderResponse_Type" />
  <complexType name="HeaderResponse_Type">
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="codigo" type="string" />
      <element minOccurs="1" maxOccurs="1" name="mensaje" type="string" />
      <element minOccurs="0" maxOccurs="1" name="descripcion" type="string" />
      <element minOccurs="0" maxOccurs="1" name="fechaEjecucion" type="dateTime" />
    </sequence>
  </complexType>
</schema>