Services/Connected Services/FacturaFuse/SoapFault_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://schemas.xmlsoap.org/soap/envelope/" xmlns:pref="http://www.terpel.com/integraciones/comunes/schemas/terpelFault/v1.0" elementFormDefault="qualified" targetNamespace="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="TerpelFault_v1.0.xsd" namespace="http://www.terpel.com/integraciones/comunes/schemas/terpelFault/v1.0" />
  <element name="Fault" type="tns:Fault" />
  <complexType name="Fault" final="extension">
    <annotation>
      <documentation>Fault reporting structure</documentation>
    </annotation>
    <sequence>
      <element name="faultcode" type="string" />
      <element name="faultstring" type="string" />
      <element minOccurs="0" name="detail" type="tns:detail" />
    </sequence>
  </complexType>
  <complexType name="detail">
    <sequence>
      <element minOccurs="0" name="terpelFault" type="pref:terpelFault_Type" />
    </sequence>
  </complexType>
</schema>