Services/Connected Services/FacturaFuse/TerpelFault_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://www.terpel.com/integraciones/comunes/schemas/terpelFault/v1.0" elementFormDefault="qualified" targetNamespace="http://www.terpel.com/integraciones/comunes/schemas/terpelFault/v1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="terpelFault" type="tns:terpelFault_Type" />
  <complexType name="terpelFault_Type">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="errores" type="tns:errores_Type" />
    </sequence>
  </complexType>
  <complexType name="errores_Type">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="codigoError" type="string" />
      <element minOccurs="0" maxOccurs="1" name="mensajeError" type="string" />
      <element minOccurs="0" maxOccurs="1" name="tipoError" type="string" />
      <element minOccurs="0" maxOccurs="1" name="fechaProcesamiento" type="dateTime" />
    </sequence>
  </complexType>
</schema>